@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
  background: radial-gradient(circle at top, #1f2937 0, #020617 45%, #000 100%);
}

a {
  @apply text-inherit no-underline;
}